body {
  background: linear-gradient(90deg, blue, red);
}

* {
  font-family: "Montserrat", sans-serif;
}

#content {
  background: white;
  width: 400px;
  margin: auto auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
#eightBall {
  width: 350px;
  height: 350px;
  background: black;
  color: white;
  margin: 0 auto;
  border-radius: 50%;
}

#eightBall_style {
  width: 50%;
  height:50%;
  background-color: #333;
  border:1px solid #333;
  margin:25% auto;
  border-radius: 50%;
}
#answer {
  margin:0;
  width: 75%;
}
